<!DOCTYPE html>
<html>

<head>
    <title>GoTrustIdem TestPKI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ensure use of most common Unicode characters -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <!-- Considered an "experimental" feature -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
    <!-- Spectre.css icons are used -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <script src="https://gotrustidem-dev.github.io/utils/cbor.js"></script>
    <script src="https://gotrustidem-dev.github.io/utils/helpers.js"></script>
    <script src="https://gotrustidem-dev.github.io/utils/showMessage.js"></script>
    <script src="https://gotrustidem-dev.github.io/utils/PKIoverFIDO.js"></script>
    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
            height: 160px;
        }

        table td,
        table td * {
            vertical-align: top;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div style="overflow-x: scroll;">
        <table style="height: auto; width: 100%;">
            <tbody>

                <tr>
                    <td style="width: 100% ;">


                        <form style="text-align: center;" id="form_token_sn" onsubmit="return false">
                            <p>
                                <label id="label_token_sn">Token Serial number:</label><br>
                                <input type="text" name="token_sn" style="width: 342px; height:41px">
                            </p>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td id="pc-td" style="width: 100% ; ">
                        <table class="center" border="1" width="395">
                            <tbody>
                                <tr>
                                    <!--PC side-->
                                    <td id="mac-safari-td" style="width: 329px; ">

                                        <table class="center" style="height: 160px;" border="1" width="395">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 385px; ">
                                                        <p style="text-align: center;">Target Label/KeyID</p>

                                                        <p>
                                                            <form style="text-align: center;" id="form_label"
                                                                onsubmit="return false">
                                                                <input type="text" name="certlabel"
                                                                    style="width: 342px; height:41px">

                                                            </form>
                                                        </p>
                                                        <form style="text-align: center;" id="form_signdata_label_btn"
                                                            onsubmit="return false">
                                                            <button class="btn btn-primary" action="submit"
                                                                style="width: 162px; height:34px;background-color: #008CBA;">Sign Data</button>
                                                        </form>
                                                    </td>
                                                    <td style="width: 385px;">
                                                        <p style="text-align: center;">Target Index</p>
                                                        <p>
                                                            <form style="text-align:center" id="form_index"
                                                                onsubmit="return false">
                                                                <input type="number" name="certIndex"
                                                                    style="width: 342px; height:41px">
                                                            </form>
                                                        </p>
                                                        <p>
                                                            <form style="text-align: center;" id="form_signdata_index_btn"
                                                                onsubmit="return false">
                                                                <button class="btn btn-primary" action="submit"
                                                                    style="width: 162px; height:34px;background-color: #008CBA;">Sign Data</button>
                                                            </form>
                                                        </p>
                                                    </td>

                                                    <input type="checkbox" id="use_hashdata_label" name="vehicle1" value="Use Hashed Data">
                                                    <label >Use Hashed Data to Sign </label> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>

         // signed Data1: 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef  
        var signData =
            'MTIzNDU2Nzg5MGFiY2RlZjEyMzQ1Njc4OTBhYmNkZWYxMjM0NTY3ODkwYWJjZGVmMTIzNDU2Nzg5MGFiY2RlZjEyMzQ1Njc4OTBhYmNkZWYxMjM0NTY3ODkwYWJjZGVmMTIzNDU2Nzg5MGFiY2RlZjEyMzQ1Njc4OTBhYmNkZWY=';


        document.getElementById('form_signdata_label_btn').addEventListener('submit', function (event) {
            event.preventDefault();
            let token_sn = document.getElementById('form_token_sn').token_sn.value;
            let label = document.getElementById('form_label').certlabel.value;
            let isUseHashedData2Sign = document.getElementById('use_hashdata_label');
            var signDataPayload = Uint8Array.from(window.atob(signData), c => c.charCodeAt(0));
            if(isUseHashedData2Sign.checked){
                crypto.subtle.digest("SHA-256",new Uint8Array(signDataPayload)).
                then(function (signHashedDataPayload) {
                    console.log('signHashedDataPayload : \n', bufToHex(signHashedDataPayload));
                    GTIDEM_SignDataByLabel(label, token_sn,ALG_RSA2048SHA256_PreHash, new Uint8Array(signHashedDataPayload)).then((value) => {
                        
                        showSignMessage(value);
                    });
                });
            }else{
                GTIDEM_SignDataByLabel(label, token_sn,ALG_RSA2048SHA256, signDataPayload).then((value) => {
                    showSignMessage(value);
                });
            }

        })

        document.getElementById('form_signdata_index_btn').addEventListener('submit', function (event) {
            event.preventDefault();
            let token_sn = document.getElementById('form_token_sn').token_sn.value;
            let index = document.getElementById('form_index').certIndex.value;
            let isUseHashedData2Sign = document.getElementById('use_hashdata_label');
            var signDataPayload = Uint8Array.from(window.atob(signData), c => c.charCodeAt(0));

            if(isUseHashedData2Sign.checked){
               crypto.subtle.digest("SHA-256",new Uint8Array(signDataPayload)).
                then(function (signHashedDataPayload) {
                    console.log('signHashedDataPayload : \n', bufToHex(signHashedDataPayload));
                    GTIDEM_SignDataByIndex(index, token_sn,ALG_RSA2048SHA256_PreHash, new Uint8Array(signHashedDataPayload)).then((value) => {
                       
                        if(value.statusCode){
                            var str = String.fromCharCode.apply(null, new Uint8Array(value.signature));
                            alert("簽名:" + "\n" + btoa(str));

                        }else{
                            alert(showFIDOErrorMessage(value));
                        }
              
                    });
                });
            }else{

                GTIDEM_SignDataByIndex(index, token_sn,ALG_RSA2048SHA256, signDataPayload).then((value) => {
                    if(value.statusCode){
                        var str = String.fromCharCode.apply(null, new Uint8Array(value.signature));
                        alert("簽名:" + "\n" + btoa(str));

                    }else{
                        alert(showFIDOErrorMessage(value));
                    }
                });
            }

        })
    </script>

</body>

</html>