<!DOCTYPE html>
<html>

<head>
    <title>GoTrustIdem TestPKI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ensure use of most common Unicode characters -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <!-- Considered an "experimental" feature -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
    <!-- Spectre.css icons are used -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <script src="https://gotrustidem-dev.github.io/utils/cbor.js"></script>
    <script src="https://gotrustidem-dev.github.io/utils/helpers.js"></script>
    <script src="https://gotrustidem-dev.github.io/utils/showMessage.js"></script>
    <script src="https://gotrustidem-dev.github.io/utils/response.js"></script>
    <script src="https://gotrustidem-dev.github.io/utils/PKIoverFIDO.js"></script>
  
    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
            height: 160px;
        }

        table td,
        table td * {
            vertical-align: top;
        }

        h3 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div style="overflow-x: scroll;">
        <table style="height: auto; width: 100%;">
            <tbody>

                <tr>
                    <td style="width: 100% ;">


                        <form style="text-align: center;" id="form_token_sn" onsubmit="return false">
                            <p>
                                <label id="label_token_sn">Token Serial number:</label><br>
                                <input type="text" name="token_sn"  style="width: 342px; height:41px">
                            </p>
                            <label id="label_token_fw"></label><br>
                            <label id="label_token_sw"></label><br>
                            <label id="label_pin_retries"></label><br>
                            <label id="label_credentials"></label><br>
                            <label id="label_serial_number"></label><br>
                            <label id="label_random_number"></label><br>
                            <label id="label_ecPublic_key"></label><br>
                            <label id="label_flags"></label><br>
                            <label id="label_sopin_retries"></label><br>
                        </form>

                    </td>
                </tr>

                <tr>
                    <td id="pc-td" style="width: 100% ; ">
                        <table class="center" border="1" width="395">
                            <tbody>
                                <tr>
                                    <!--PC side-->
                                    <td style="width: 385px;">
                                        <p>
                                        <form style="text-align: center;" id="form_tokeninfo_btn" onsubmit="return false">
                                            <button class="btn btn-primary" action="submit"
                                                style="width: 200px; height:34px;background-color: #008CBA;">Get Token Info</button>
                                        </form>
                                        </p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    
                </tr>
            </tbody>·
        </table>
    </div>
    <script>
        document.getElementById('form_tokeninfo_btn').addEventListener('submit', function (event) {
            event.preventDefault();
            let token_sn = document.getElementById('form_token_sn').token_sn.value;
            console.log(token_sn);

            var bToken_sn = undefined;
            if(token_sn.length!=0){
                bToken_sn = hexStringToArrayBuffer(token_sn);
               
            }
            GetTokenInformation_StressTest(bToken_sn);
            /*var isProgressing = false;
            var counter = 0;
            while(true){

                while(!isProgressing){
                    GTIDEM_GetTokenInfo(bToken_sn).then((response) => {

                        console.log('SUCCESS', response);            
                        if(response.statusCode==CTAP1_ERR_SUCCESS){
                            document.getElementById('label_token_fw').innerText = "FW version: " + ConverVersionFormat(response.fw);
                            document.getElementById('label_token_sw').innerText = "SW version: " + ConverVersionFormat(response.sw);
                            document.getElementById('label_pin_retries').innerText = "PIN retryies: " + response.pinRetry;
                            document.getElementById('label_credentials').innerText = "Credentials: " + response.credentialNum;
                            document.getElementById('label_serial_number').innerText = "Serial number: " + ConverSNFormat(response.sn);
                            document.getElementById('label_random_number').innerText = "Random number: " +ConverSNFormat(response.rn);
                            document.getElementById('label_ecPublic_key').innerText = "EC public point: " +ConverSNFormat(response.ecpoint);
                            document.getElementById('label_flags').innerText = "Flags: " +ConverSNFormat(response.flags);
                            if(response.sopinRetry!=undefined){
                                document.getElementById('label_sopin_retries').innerText = "SOPIN retryies:: " +response.sopinRetry;
                            }

                        }else{
                        alert(showFIDOErrorMessage(response));
                        }
                        console.log('Times: ', counter++);
                        isProgressing = false;
                    }).catch((error) => {
                        alert(error)
                        console.log('FAIL', error);
                        isProgressing = false;
                    });
                }
            }*/

        });

        async function GetTokenInformation_StressTest(bToken_sn) {
            const maxLoopCnt = 500;//for StressTest    
            let loopCnt = 0;//for StressTest        
            while(loopCnt < maxLoopCnt){ //for StressTest
            loopCnt = loopCnt + 1;//for StressTest  
       
            try{  
                  
                    var startTime = performance.now();
                    console.log("Start loopCnt: "+ loopCnt); //for StressTest
                    let response = await GTIDEM_GetTokenInfo(bToken_sn);      
                    if(response.statusCode==CTAP1_ERR_SUCCESS){
                        document.getElementById('label_token_fw').innerText = "FW version: " + ConverVersionFormat(response.fw);
                        document.getElementById('label_token_sw').innerText = "SW version: " + ConverVersionFormat(response.sw);
                        document.getElementById('label_pin_retries').innerText = "PIN retryies: " + response.pinRetry;
                        document.getElementById('label_credentials').innerText = "Credentials: " + response.credentialNum;
                        document.getElementById('label_serial_number').innerText = "Serial number: " + ConverSNFormat(response.sn);
                        document.getElementById('label_random_number').innerText = "Random number: " +ConverSNFormat(response.rn);
                        document.getElementById('label_ecPublic_key').innerText = "EC public point: " +ConverSNFormat(response.ecpoint);
                        document.getElementById('label_flags').innerText = "Flags: " +ConverSNFormat(response.flags);
                        
                        document.getElementById('label_sopin_retries').innerText = " 已經測試次數: " +loopCnt;
                        var endTime = performance.now();
                        console.log(`Call to doSomething took ${endTime - startTime} milliseconds`);
                        console.log("END loopCnt: "+ loopCnt); //for StressTest
                    }else{
                        alert(showFIDOErrorMessage(response));
                        alert("END loopCnt: " + loopCnt + ", response.statusCode: " + response.statusCode);//for StressTest          
                        var endTime = performance.now();
                        console.log(`Call to doSomething took ${endTime - startTime} milliseconds`);
                        console.log("END loopCnt: " + loopCnt + ", response.statusCode: " + response.statusCode); //for StressTest
                        
                        return;//for StressTest                      
                    }    
                } catch(error) {
                    alert(error);
                    console.log('error', error);
                    var endTime = performance.now();
                    console.log(` catch Call to doSomething took ${endTime - startTime} milliseconds`); 
                    console.log("END loopCnt: "+ loopCnt);//for StressTest
                    alert("END loopCnt: "+ loopCnt);//for StressTest 
                    return;//for StressTest    
                }
            }   
        }
    </script>

</body>

</html>